#graph_placeholder
{
	width: 800px;
	height: 500px;
	border: 1px solid black;
	margin: 10px;
	float: left;
}

#controls
{
	margin: 10px;
	display: inline-block;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
}

label
{
	font-weight: bold;
	font-size: 20px;
}